doctype html
html
      head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='author', content='Jasper Buß(430423)')
        title Web-App - Geosoftware I, SoSe 2017, Aufgabe 7
        // Leaflet stuff
        link(rel='stylesheet', href='https://unpkg.com/leaflet@1.0.3/dist/leaflet.css')
        script(src='https://unpkg.com/leaflet@1.0.3/dist/leaflet.js')
        // Leaflet draw plugin
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.9/leaflet.draw.css')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.9/leaflet.draw.js')
        // painless AJAXing
        script(src='https://code.jquery.com/jquery-3.2.1.min.js')
        // Bootstrap
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
        // jQuery UI for resizing stuff
        link(rel='stylesheet', href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.css')
        script(src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js')
        // better have a bit of style
        link(rel='stylesheet', href='/stylesheets/style.css')
        // Leaflet routing Engine
        link(rel='stylesheet', href='/stylesheets/leaflet-routing-machine.css')
        script(src='/javascripts/leaflet-routing-machine.js')
        // Leaflet Reverse Lookup
        link(rel='stylesheet', href='/stylesheets/Control.Geocoder.css')
        script(src='/javascripts/Control.Geocoder.js')
        // turf script
        script(src = '/javascripts/turf.min.js')
        script(src = '/javascripts/turf.js')
        script(src = '/javascripts/Location.js')


        // app code
        script(src='/javascripts/etappen.js')
      body
        .container-pills
          .col-md-12
            h1 La-Vuelta
            p Geosoftware I, SoSe 2017, Abschlussaufgabe
            ul.nav.nav-tabs.nav-justified
              li(role='presentation')
                a(href='/') Start
              li(role='presentation')
                a(href='impressum') Impressum
              li.active(role='presentation')
                a(href='Etappen') Etappen


            br
          #content.col-md-8
            // Leaflet map div
            #map
          #menu.col-md-4
            h2 Karten-Tools
            // form, on submit event showExternalFile() is called and the default action (i.e. submitting the form) prevented
            form.form-inline(onsubmit='event.preventDefault(); showExternalFile();')
              input#externalfile.form-control(type='text', name='externalfile', placeholder='URL zu ext. GeoJSON-Datei')
              input.btn.btn-default(type='submit', value='Auf Karte laden')

            br
            button.btn(onclick='showLocation()') Meine Position anzeigen
            br
            br
            form.form-inline(id='loadEtappe' action='/api/load/etappe/' method='GET')
              input#etname.form-control(type='text', name='etappenname', placeholder=loadEtappe)
              input#butId.btn.btn-default(type='submit', value='Etappe aus Datenbank laden')
            br
            form.form-inline(id='loadParkplatz' action='/api/load/parklot/' method='GET')
              input#loadname.form-control(type='text', name='parkname', placeholder = loadParkplatz)
              input#btnid.btn.btn-default(type='submit', value='Parkplatz aus Datenbank laden')

            br
            button.btn.btn-default(onclick='clearPopup()') Lösche alle Popups
            br

            #wikistart.panel
                                   .panel-heading
                                       a.text-muted(data-toggle='collapse' data-target='#collapse4' id = "startort")
                                           span.glyphicon.glyphicon-education
                                               | Der erste Absatz des Wikipedia-Eintrags zum Startort und Zielort der Etappen

                                   #collapse4.panel-body.panel-collapse.collapse.out
                                       span

                               #pictures.panel
                                   .panel-heading
                                       a.text-muted
                                           span.glyphicon.glyphicon-picture
                                               |               Bilder zu den Etappen
                                   .panel-body.panel-collapse.collapse.in
                                          img(id='pic' src='', alt='Hier werden Bilder angezeigt' height="320px" width="42px")
