doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='author', content='Jasper Buß (430423)')
    title La-Vuelta - Geosoftware I, SoSe 2017, Aufgabe 7
    // Bootstrap
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
    // better have a bit of style
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .container-fluid
      .col-md-12
        h1 La-Vuelta
        p Geosoftware I, SoSe 2017, Abschlussaufgabe
        ul.nav.nav-tabs.nav-justified
          li.active(role='presentation')
            a(href='/') Start
          li(role='presentation')
            a(href='impressum') Impressum
          li(role='presentation')
            a(href='Etappen') Etappen
          
      .col-md-12
        h2 Welcome to the La-Vuelta Homepage
      div
        img.img-thumbnail(src='https://upload.wikimedia.org/wikipedia/de/thumb/6/60/La_Vuelta.svg/2000px-La_Vuelta.svg.png', alt='la vuelta', style='width:304px;height:228px;')
    div
      h3
        | Im Etappenbereich können sie Etappen erstellen und über ein
        | Draw-Tool Parkplätze oder Zuschauerplätze hinzufügen. Wählen sie die Option für die Zuschauerplätze, können Sie durch Klick auf das erstellte Icon die erscheinende Funktion dazu benutzen, Ihnen den nächstgelegenen Parkplatz anzeigen zu lassen.
